#main-container {
    display:flex;
    flex-direction:column; 
    height:100%
}

#title-bar {
    display:flex;
    flex-direction:row;
    width:100%
}

#title {
    flex:1;
    font-weight:bold;
    font-size: 2.25rem;
    /* color:white */
}

#exercise-list {
    display:flex;
    flex-direction: column;
    overflow-y:auto;
    gap:8px;
}

#add-exercise-row {
    display:flex;
    flex-direction: row;
    align-content: center;
    margin-top: 8px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform : translateY(0); }
}

.fade-in {
  animation: fadeIn 0.2s ease-in;
}
